 /* .wrapper {
    display: flex ;
    height: 100vh;
    width:  100vw;
    justify-content: center;
    align-items: center ;
 } */
  /* Accordion.css */
/* Accordion.css */
.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  
  .accordion .item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .accordion .title {
    background-color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion .content {
    padding: 10px;
    background-color: #fff;
  }
  